@model SellerBox.ViewModels.StaticScenarios.IndexViewModel

@section scripts {
    <script src="~/lib/site/StaticScenarios/index.js"></script>
}

<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Название
            </th>
            <th>
                Активность
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                <a asp-action="Birthday" asp-route-isMale="true">Дни рождения (мужчины)</a>
            </td>
            <td>
                @if (Model.IsMaleBirthdayEnabled.HasValue)
                {
                    <label class="checkbox_custom">
                        <input type="checkbox" data-type="IsMaleBirthdayEnabled" @{ if (Model.IsMaleBirthdayEnabled.Value) { <text> checked</text>} }>
                        <div class="checkbox_custom__text"></div>
                    </label>
                }
                else
                {
                    <text>Не подключен</text>
                }
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a asp-action="Birthday" asp-route-isMale="false">Дни рождения (женщины)</a>
            </td>
            <td>
                @if (Model.IsFemaleBirthdayEnabled.HasValue)
                {
                    <label class="checkbox_custom">
                        <input type="checkbox" data-type="IsFemaleBirthdayEnabled" @{ if (Model.IsFemaleBirthdayEnabled.Value) { <text> checked</text>} }>
                        <div class="checkbox_custom__text"></div>
                    </label>
                }
                else
                {
                    <text>Не подключен</text>
                }
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a asp-action="BirthdayWall">Дни рождения на стене</a>
            </td>
            <td>
                @if (Model.IsBirthdayWallEnabled.HasValue)
                {
                    <label class="checkbox_custom">
                        <input type="checkbox" data-type="IsBirthdayWallEnabled" @{ if (Model.IsBirthdayWallEnabled.Value) { <text> checked</text>} }>
                        <div class="checkbox_custom__text"></div>
                    </label>
                }
                else
                {
                    <text>Не подключен</text>
                }
            </td>
        </tr>
    </tbody>
</table>
