@model SellerBox.ViewModels.Statistics.ChainsViewModel

@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.ChainInfo.Select(x => x.Date.ToString("dd MMMM yyyyг.")).ToList());
    Random random = new Random();
    var count = Model.ChainInfo.Any() ? Model.ChainInfo.Max(x => x.MessagesPerDay.Length) : 0;
    var arrs = new dynamic[count];
    foreach (var item in Model.ChainInfo)
    {
        for (int idx = 0; idx < item.MessagesPerDay.Length; idx++)
        {
            arrs[idx] = new
            {
                label = item.MessagesPerDay[idx].Name,
                stack = item.MessagesPerDay[idx].Name,
                backgroundColor = string.Format("#{0:X6}", random.Next(0x1000000)),
                data = Model.ChainInfo.Select(x => x.MessagesPerDay[idx].Count).ToArray()
            };
        }
    }
    var dataSet = Newtonsoft.Json.JsonConvert.SerializeObject(arrs);
}

@section scripts {
    <script src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script>
        var barChartData = {
            labels: @Html.Raw(XLabels),
            datasets: @Html.Raw(dataSet)
        };

        window.onload = function () {
            var ctx = document.getElementById('chart').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        };
    </script>
}

<h2>Статистика по цепочкам</h2>
<div class="box-body" @{if (Model.TotalReceived == 0) { <text> hidden</text>} }>
    <div class="chart-container">
        <canvas id="chart" style="width:100%; height:500px"></canvas>
    </div>
</div>

Всего получено сообщений: @Model.TotalReceived