@model SellerBox.ViewModels.Statistics.IndexViewModel

@section scripts {
    <script src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="~/lib/site/Statistics/index.js"></script>
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" type="text/css" />
}

<form asp-action="Generate" asp-controller="Statistics" asp-antiforgery="true" style="margin-top: 10px">
    <div class="input-group">
        <div class="input-group-prepend">
            <label asp-for="StatisticType" class="input-group-text"></label>
        </div>
        <select asp-for="StatisticType" class="custom-select">
            <option value="@null" selected>Выберите тип статистики...</option>
            @foreach (var statisticType in ViewBag.StatisticTypes)
            {
                <option value="@statisticType.Key">@statisticType.Value</option>
            }
        </select>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="DtStart" class="input-group-text"></label>
                </div>

                <input asp-for="DtStart" type="text" style="background-color: white" class="form-control" placeholder="Выберите дату и время.." data-input>

                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-success form-control" title="toggle" data-toggle>
                        <img src="~/images/Calendar.png" />
                    </button>

                    <button type="button" class="btn btn-outline-secondary form-control" title="clear" data-clear>
                        <img src="~/images/Close.png" />
                    </button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="DtEnd" class="input-group-text"></label>
                </div>

                <input asp-for="DtEnd" type="text" style="background-color: white" class="form-control" placeholder="Выберите дату и время.." data-input>

                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-success form-control" title="toggle" data-toggle>
                        <img src="~/images/Calendar.png" />
                    </button>

                    <button type="button" class="btn btn-outline-secondary form-control" title="clear" data-clear>
                        <img src="~/images/Close.png" />
                    </button>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Сформировать" style="margin-top: 10px" />
</form>

<div id="chartBlock" hidden>
    <br />
    <h2 id="title"></h2>
    <div class="box-body">
        <div class="chart-container">
            <canvas id="chart" style="width:100%; height:500px"></canvas>
        </div>
    </div>

    <h4>Всего:</h4>
    <div id="legend"></div>
</div>